/**
 * Staff Grid Stylesheet
 */
.staff-grid {
    overflow: hidden;
}

.staff-grid h2 {
    text-align: center;
}

.staff-grid .staff-person {
    padding: 20px;
}

.staff-grid .staff-name {
    font-size: 16px;
    margin: 1.5em 0;
    text-transform: uppercase;
    text-align: center;
}

.staff-grid .staff-name span {
    display: block;
    font-weight: normal;
    font-size: 14px;
}

.staff-bio {
    font-size: 85%;
    padding: 0 10px;
}

.staff-headshot img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.plus {
    float: right;
    font-size: 13px;
    cursor: pointer;
    padding: 5px 0;
}

@media screen and (min-width: 768px) {
    .staff-grid  .grid-two {
        float: left;
        width: 48.717948717948715%
    }
}

@media screen and (min-width: 960px) {
    .staff-grid .grid-two {
        width: 31.623931623931625%
    }
}
